
<%- include('../layout/navbar') %>

<%- include('../layout/sidebar') %>



    <section class="content">

        <div class="container-fluid mt-4">

            <div class="card">

                <div class="card-header">

                    <h3 class="card-title">
                        Edit Data Warga
                    </h3>

                </div>


                <form
                    action="/warga/update/<%= warga.id_warga %>"
                    method="POST">

                    <div class="card-body">

                        <div class="mb-3">

                            <label class="form-label">
                                Nama
                            </label>

                            <input
                                type="text"
                                name="nama"
                                class="form-control"
                                value="<%= warga.nama %>"
                                required>

                        </div>


                        <div class="mb-3">

                            <label class="form-label">
                                Alamat
                            </label>

                            <textarea
                                name="alamat"
                                class="form-control"
                                rows="3"
                                required><%= warga.alamat %></textarea>

                        </div>


                        <div class="mb-3">

                            <label class="form-label">
                                No HP
                            </label>

                            <input
                                type="text"
                                name="no_hp"
                                class="form-control"
                                value="<%= warga.no_hp %>">

                        </div>

                    </div>


                    <div class="card-footer">

                        <button
                            type="submit"
                            class="btn btn-primary">

                            <i class="fas fa-save"></i>
                            Update

                        </button>


                        <a
                            href="/warga"
                            class="btn btn-secondary">

                            <i class="fas fa-arrow-left"></i>
                            Kembali

                        </a>

                    </div>

                </form>

            </div>

        </div>

    </section>


<%- include('../layout/footer') %>